<table class="table table-striped">
  <thead>
  <tr>
    <th>
      ID
    </th>
    <th>
      Product ID
    </th>
    <th>
      Name
    </th>
    <th>
      Brand
    </th>
    <th>
      Model
    </th>
    <th>
      Slug
    </th>
    <th>
      Year
    </th>
    <!--<th>
      JSON
    </th>-->
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of carItems$ |async | paginate: { itemsPerPage: 5, currentPage: p }">
    <td>
      {{item.id}}
    </td>
    <td>
      {{item.product.productId}}
    </td>
    <td>
      {{item.product.name}}
    </td>
    <td>
      {{item.brand}}
    </td>
    <td>
      {{item.carModel.name}}
    </td>
    <td>
      {{item.carModel.slug}}
    </td>
    <td>
      {{item.year}}
    </td>
    <!--<td>
      {{item | json}}
    </td>-->
  </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

<ul class="list-inline">
  <li class="list-inline-item">
    <button type="button" class="btn btn-primary" (click)="load()">Load</button>
  </li>
  <li class="list-inline-item">
    <button type="button" class="btn btn-primary" (click)="add()">Save</button>
  </li>
</ul>


