<form class="example-form" [formGroup]="productsForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field [ngClass]="'first second'">
              <input matInput [matAutocomplete]="autoProduct" formControlName="productInput" #fName
                     placeholder="product"
                     (change)="empty()">
              <mat-autocomplete #autoProduct="matAutocomplete" [displayWith]="displayProduct"
                                (optionSelected)="empty()">
                <mat-option *ngFor="let product of _filteredproducts$ | async"
                            [value]="product">
                  <span>{{ product.name }}</span>
                  <small> | ID: {{product.productId}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">

            <mat-form-field>
              <input matInput [matAutocomplete]="autoBrand" formControlName="brandInput" placeholder="brand">
              <mat-autocomplete #autoBrand="matAutocomplete" (optionSelected)="onBrandChanged($event)">
                <mat-option *ngFor="let brand of _brands$ | async as brands"
                            [value]="brand">
                  <span>{{ brand }}</span>

                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field>
              <input matInput [matAutocomplete]="autoModel" formControlName="modelInput" placeholder="model">
              <mat-autocomplete #autoModel="matAutocomplete" [displayWith]="displayModel">
                <mat-option *ngFor="let model of _models$ | async"
                            [value]="model">
                  <span>{{ model.slug }}</span>

                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field>
              <input matInput [matAutocomplete]="autoYear" formControlName="yearInput" placeholder="year">
              <mat-autocomplete #autoYear="matAutocomplete">
                <mat-option *ngFor="let model of _years"
                            [value]="model">
                  <span>{{ model }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!productsForm.valid">Сохранить</button>
    </div>
  </div>


  <!--<span>Your choice is: {{productsForm.get('searchCtrl').value | json}}</span> -->


</form>
<div class="alert alert-danger" *ngIf="productsForm.errors">
  <em *ngIf="productsForm.errors.error400"> Данный набор полей уже существует</em>
  <em *ngIf="productsForm.errors.error500">Произошла ошибка</em>
</div>
<!-- <span>Your choice is: {{productsForm.get('brandInput').value | json}}</span>
 {{getActiveBrand()}}
-->
<!--
<pre>


  {{productsForm.valid  }}
  {{productsForm.get('textCtrl').errors |json}}
	{{productsForm.get('searchCtrl').errors |json}}
	{{productsForm.get('brandInput').errors |json}}
	</pre> -->
