<div class="row">
    <div class="col-md-6">
<div class="form-group">
  <app-search (searchChanged)="doSearch($event)"> </app-search>
</div>
    </div>
    <div class="col-md-6">
<pager [itemsPerPage]="itemsPerPage" (itemsPerPageChanged)="itemsPerPage=$event"></pager>
</div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>
      ID
    </th>
    <th>
        Name
    </th>
    <th>
      Date
    </th>
    <th>
      User
    </th>
    <th>
      Path
    </th>
    
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of errors$ |async | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
    <td>
      {{item.id}}
    </td>
    <td> <div class="m-h-200">
      {{item.message}}
      </div>
    </td>
    <td>
      {{item.createdTime| date:'medium' }}  
    </td>
    <td>
      {{item.username}}
    </td>
    <td>
      {{item.path}}
    </td>
    
  </tr>
  </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>




