<h2 class="text-center">App component</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="list-group">
        <a class="list-group-item" [routerLink]="['list']" routerLinkActive="active">car items</a>
        <a class="list-group-item" [routerLink]="['errors']" routerLinkActive="active">errors</a>
        <a class="list-group-item" [routerLink]="['actions']" routerLinkActive="active">actions</a>
      </div>
    </div>
    <div class="col-10 pt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> 

<!--
<div id="wrapper">
  
<mat-drawer-container class="bg-light border-right" id="sidebar-wrapper">
  <mat-drawer #drawer [mode]="'over'">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action" [routerLink]="['list']" routerLinkActive="active">car items</a>
      <a href="#" class="list-group-item list-group-item-action" [routerLink]="['errors']" routerLinkActive="active">errors</a>
      <a href="#" class="list-group-item list-group-item-action" [routerLink]="['actions']" routerLinkActive="active">actions</a>
    </div>
  </mat-drawer>
  <mat-drawer-content id="page-content-wrapper">
    <div class="container-fluid pt-2">
      <button class="btn btn-primary" style="line-height: 0" id="menu-toggle" (click)="drawer.toggle()"><i class="material-icons">
        menu
      </i></button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="container-fluid pt-3">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
</div>
-->