
<app-filter-cartitem></app-filter-cartitem>
<button class="btn" [ngClass]="{'btn-outline-primary':showItemAdded,'btn-primary':!showItemAdded }" type="button"  (click)="showItemAdded=!showItemAdded">add</button>
<div class="form-container" [ngClass]="{'d-none':!showItemAdded}">
    <app-new-caritem (setCarItem)="addCarItem($event)"></app-new-caritem>
  </div>
<div *ngIf="carItems$; else loadingBlock">
  <ul>
  <li *ngFor="let carItem of carItems$ | async | paginate: { itemsPerPage: 10, currentPage: p } ; index as i; odd as isOdd">
     Id is {{carItem.id }},
      {{carItem.product.productId }}
      {{carItem.product.name }}
      {{carItem.brand }}
      {{carItem.carModel?.name }}
     {{i}}
   <a (click)="delete(carItem.id)">X</a>
   </li>
  </ul>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
<ng-template #loadingBlock>
  <div>
    ....loading
  </div>
</ng-template>
