.form-group .mat-form-field{
  display: block;
  position: relative;
}
.form-group .mat-form-field-infix{
  width: auto;
}
.clear-field{
  position: absolute;
  right: 0;
  top: 8px;
  cursor: pointer;
  font-size: 1.4rem;
  opacity: 0.6;
  text-align: center;
  width: 16px;
  display: block;
  height: 16px;
  line-height: 13px;
}

.table td .clear-field{
  top: 4px;
}
.mat-input-element{
  padding-right: 16px !important;
}
.ngx-pagination{
  padding-left: 0;
}
